<footer>
    Copyright &copy; 2021 CodeXpress Story Hub
    <div class="social">
    <a href="https://github.com/Ayaan-Surkhi/Story-writing_app"> <i class="fab fa-github fa-2x"></i> </a>
    <a href="https://www.youtube.com/channel/UCqMAZPPGNc2COvQynNVWMDw"> <i class="fab fa-youtube fa-2x"></i> </a>
    </div>    
</footer>
